{% extends 'app/base.html' %}

{% load static %}

{% block title %} Password Resset Successfully {% endblock title %}

{% block content %}
			<!--Page Title-->
		<section class="page-title" style="background-image:url({% static 'app/images/background/5.jpg' %})">
			<div class="pattern-layer" style="background-image:url({% static 'app/images/background/pattern-21.png' %})"></div>
			<div class="pattern-layer-two" style="background-image:url({% static 'app/images/icons/pattern-1.png' %})"></div>
			<div class="auto-container">
				<div class="inner-container clearfix">
					<div class="pull-left">
						<h2 class="text-success">Password Reset Successfully!</h2>

					</div>
					<div class="pull-right">
						<ul class="bread-crumb clearfix">
							
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--End Page Title-->



{% endblock content %}