{% extends 'app/base.html' %}

{% load static %}

{% block title %} Password Reset Confirm {% endblock title %}

{% block content %}
			<!--Page Title-->
		<section class="page-title" style="background-image:url({% static 'app/images/background/5.jpg' %})">
			<div class="pattern-layer" style="background-image:url({% static 'app/images/background/pattern-21.png' %})"></div>
			<div class="pattern-layer-two" style="background-image:url({% static 'app/images/icons/pattern-1.png' %})"></div>
			<div class="auto-container">
				<div class="inner-container clearfix">
					<div class="pull-left">
						<h2>Password Reset Confirm</h2>

					</div>
					<div class="pull-right">
						<ul class="bread-crumb clearfix">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li>Password Reset Confirm</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--End Page Title-->

		<!-- Quote Section -->
		<section class="quote-section style-two">
			<div class="color-layer"></div>
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Form Column -->
					<div class="content-column col-lg-3 col-md-12 col-sm-12">

					</div>

					<div class="form-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>Password Reset Confirm</h2> 

							<!-- Default Form -->
							<div class="default-form">
								<form method="post" action="" novalidate>
									{% csrf_token %}

									{% for fm in form %}
										<div class="form-group">
											{{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small><br/>
										</div>
									{% endfor %}



									<div class="form-group">
										<button class="theme-btn btn-style-five" type="submit" name="submit-form"><span
												class="txt">Submit</span></button>
									</div>
									
									{% if form.non_field_errors %}
										{% for error in form.non_field_errors %}
											<p class="alert alert-danger my-3">{{ error }}</p>
										{% endfor %}
									{% endif %}
								</form>
							</div>

						</div>
					</div>

					<!-- Content Column -->
					<div class="content-column col-lg-3 col-md-12 col-sm-12">

					</div>

				</div>
			</div>
		</section>
		<!-- End Quote Section -->

{% endblock content %}